.modal-hidden{
    padding: 40px;
    display: none;
    background: gray;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 10px;
    z-index: 990
}


.modal-visible{
    padding: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: gray;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 10px;
    z-index: 990
}