.toast{
    position: fixed;
    padding: 20px; 
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background: green;
    color: white;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 999;
}

.toast-show{
    transform: translate(-50%, 20vh);
    opacity: 1;
}